<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">OrganizeMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link to="/" class="nav-link">Home <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/about" class="nav-link">About</router-link>
                </li>
            </ul>
                <router-link to="/register" class="btn btn-secondary m-2 my-2 my-sm-0" type="submit">SignUp</router-link>
                <router-link to="/login" class="btn btn-secondary my-2 my-sm-0" type="submit">Login</router-link>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'nav-bar'
    }
</script>
