<template>
    <div class="container login">
        <div class="row align-content-center">
            <form class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button @click="login" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
    import firebase from 'firebase';
    export default {
        name: 'Login',
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            login: function(e) {
                  firebase.auth().signInWithEmailAndPassword(this.email, this.password)
    .then(user =>{
      alert('You are logged in!!');
      this.$router.push('/hello');
    },
    err => {
      alert(err.message);
    });
    e.preventDefault();
            }
        }
    }
</script>

