<template>
    <div class="container register">
        <div class="row align-content-center">
            <form class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Confirm Password</label>
                    <input v-model="conpassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button @click="register" type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</template>

<script>
    import firebase from 'firebase';
    export default {
        name: 'Register',
        data() {
            return {
                email: '',
                password: '',
                conpassword: ''
            }
        },
        methods: {
            register: function() {
                if (this.password == this.conpassword) {
                    firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
                        .then(user => {
                                alert('Account created!!');
                                //this.$router.push('/SplashScreen');
                            },
                            err => {
                                alert(err.message);
                            });
                    e.preventDefault();
                } else {
                    alert("Password not matched. Try again");
                }
            }
        }
    }
</script>
